:root {
  /* Paleta de colores - Modo claro (base) */
  --color-deep-black: #050008;
  --color-dark-purple: #17012b;
  --color-text-primary: #fff;
  --color-text-secondary: #d1b3ff;
  --gradient-primary: linear-gradient(45deg, #edc5f3, #d1b3ff);
  --text-shadow: 0 0 10px rgba(160, 25, 180, 0.7);

  /* Config modo oscuro/claro */
  --hero-bg: transparent;
}

[data-theme="light"] {
  --color-deep-black: #f8f0ff;
  --color-dark-purple: #e2d0ff;
  --color-text-primary: #050008;
  --color-text-secondary: #4d0099;
  --gradient-primary: linear-gradient(45deg, #4d0099, #17012b);
  --text-shadow: 0 0 10px rgba(123, 31, 162, 0.5);
  --hero-bg: rgba(248, 240, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  transition: background 0.3s ease, color 0.2s ease;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--color-deep-black),
    var(--color-dark-purple),
    var(--color-deep-black)
  );
  background-size: 400% 100%;
  animation: seamlessFlow 120s linear infinite;
}

@keyframes seamlessFlow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.con-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  background: var(--hero-bg);
}

.title {
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.20; /* Reduce espacio entre líneas */
  color: var(--color-text-primary);
  text-shadow: var(--text-shadow);
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.hero-subtitle {
  font-size: 2rem;
  color: var(--color-text-secondary);
  margin-top: 0.5rem;
  font-weight: 300;
  max-width: 600px;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.hero-subtitle::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* Estilos para los iconos sociales */
.social-icons-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4rem;
}

.social-icon {
  color: #d1b3ff; /* Color lavanda claro */
  font-size: 1.8rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  color: #a019b4; /* Tu morado vibrante */
  transform: translateY(-3px);
}


/* Responsive para móviles iconos */
@media (max-width: 768px) {
  .social-icons-container {
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .social-icon {
    font-size: 1.5rem;
  }
}